.about-container {
  padding: 3rem;

  p > a {
    // color: #5d7b8a;
    color: #3280a7;
    text-decoration: none;
  }
}

.about-page-title-1 {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: #333;
}

.about-page-title-2 {
  font-weight: bold;
  font-size: 1.4rem;
  color: #333;
  padding-top: 1rem;
}
