@mixin breakpoint-standard($size) {
  @if $size==0 {
    @media only screen and (max-width: 374px) {
      @content;
    }
  } @else if $size==1 {
    @media only screen and (min-width: 375px) and (max-width: 479px) {
      @content;
    }
  } @else if $size==2 {
    @media only screen and (min-width: 480px) and (max-width: 575px) {
      @content;
    }
  } @else if $size==3 {
    @media only screen and (min-width: 576px) and (max-width: 767px) {
      @content;
    }
  } @else if $size==4 {
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      @content;
    }
  } @else if $size==5 {
    @media only screen and (min-width: 992px) and (max-width: 1024px) {
      @content;
    }
  } @else if $size==6 {
    @media only screen and (min-width: 1025px) and (max-width: 1366px) {
      @content;
    }
  } @else if $size==7 {
    @media only screen and (max-width: 1440px) {
      @content;
    }
  }
}

.nav-blog-header {
  color: white;
  background: #db7333 !important;
  padding: 0.5rem 4rem 0;
  font-size: 1rem;
  font-weight: bold;

  @include breakpoint-standard(4) {
    padding: 0.5rem 1.2rem 0;
  }

  @include breakpoint-standard(3) {
    padding: 1rem;
    font-size: 0.8rem;
  }

  @include breakpoint-standard(2) {
    padding: 1rem;
    font-size: 0.8rem;
  }

  @include breakpoint-standard(1) {
    padding: 1rem;
    font-size: 0.8rem;
  }

  @include breakpoint-standard(0) {
    padding: 1rem;
    font-size: 0.8rem;
  }
}

.nav-blog-header-sticky {
  position: sticky;
  top: 3.15rem;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-blog-subtitle {
  font-weight: 500;
  font-size: 0.8rem;
  color: #fff;
  padding: 0.5rem 0 0.5rem;
}

.container-new {
  margin: 5rem 4rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  @include breakpoint-standard(4) {
    margin: 5rem 1.5rem;
  }

  @include breakpoint-standard(3) {
    margin: 5rem 1.5rem;
  }

  @include breakpoint-standard(2) {
    margin: 5rem 1.5rem;
  }

  @include breakpoint-standard(1) {
    margin: 5rem 1.5rem;
  }

  @include breakpoint-standard(0) {
    margin: 5rem 1.5rem;
  }
}

.container-new-author-head {
  margin: 5rem 4rem 1rem 4rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  @include breakpoint-standard(4) {
    margin: 5rem 1.5rem;
  }

  @include breakpoint-standard(3) {
    margin: 5rem 1.5rem;
  }

  @include breakpoint-standard(2) {
    margin: 5rem 1.5rem;
  }

  @include breakpoint-standard(1) {
    margin: 5rem 1.5rem;
  }

  @include breakpoint-standard(0) {
    margin: 5rem 1.5rem;
  }
}

.container-new-author {
  margin: 1rem 4rem;

  @include breakpoint-standard(4) {
    margin: 5rem 1.5rem;
  }

  @include breakpoint-standard(3) {
    margin: 5rem 1.5rem;
  }

  @include breakpoint-standard(2) {
    margin: 5rem 1.5rem;
  }

  @include breakpoint-standard(1) {
    margin: 5rem 1.5rem;
  }

  @include breakpoint-standard(0) {
    margin: 5rem 1.5rem;
  }
}

.content-image {
  width: 100%;
  height: auto;
}

.card-img {
  border-radius: calc(0.25rem - 1px);
}

.img-fluid {
  max-width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.card-columns {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;

  @include breakpoint-standard(4) {
    column-count: 2;
  }

  @include breakpoint-standard(3) {
    column-count: 1;
  }

  @include breakpoint-standard(2) {
    column-count: 1;
  }

  @include breakpoint-standard(1) {
    column-count: 1;
  }

  @include breakpoint-standard(0) {
    column-count: 1;
  }
}

.card {
  position: relative;
  overflow: hidden;
  background-clip: border-box;
  border-radius: 0.25rem;
  width: 100%;
  box-sizing: border-box;
}

.card-columns .card {
  margin-bottom: 0.75rem;

  @include breakpoint-standard(3) {
    display: inline-block;
    width: 100%;
  }

  @include breakpoint-standard(2) {
    display: inline-block;
    width: 100%;
  }

  @include breakpoint-standard(1) {
    display: inline-block;
    width: 100%;
  }

  @include breakpoint-standard(0) {
    display: inline-block;
    width: 100%;
  }
}

.content-details {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1em;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out 0s;
}

.content-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.content-details h3 {
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.1em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  font-size: 1.2em;

  @include breakpoint-standard(5) {
    font-size: 1em;
  }

  @include breakpoint-standard(4) {
    font-size: 1em;
  }

  @include breakpoint-standard(3) {
    font-size: 1em;
  }

  @include breakpoint-standard(2) {
    font-size: 1em;
  }

  @include breakpoint-standard(1) {
    font-size: 1em;
  }

  @include breakpoint-standard(0) {
    font-size: 1em;
  }
}

h4 {
  font-size: 0.99999em;
  color: inherit;
}

.auther-name {
  font-size: 0.99999em;
  color: inherit;
}

.content-details p {
  color: #fff;
  font-weight: 500;
  font-size: 0.9em;
}

.text-secondary-author {
  color: #6c757d;
  font-weight: 500;
  margin: 0.45rem;
}

.fadeIn-bottom {
  top: 80%;
}

.card:hover .content-overlay {
  opacity: 1;
}

.card:hover .fadeIn-bottom {
  top: 50%;
}

.card:hover .content-details {
  opacity: 1;
}

.row-next {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.row-next-author {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  flex-direction: column;

  @include breakpoint-standard(4) {
    justify-content: center;
    text-align: center;
  }

  @include breakpoint-standard(3) {
    justify-content: center;
    text-align: center;
  }

  @include breakpoint-standard(2) {
    justify-content: center;
    text-align: center;
  }

  @include breakpoint-standard(1) {
    justify-content: center;
    text-align: center;
  }
}

.col-pagination {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  padding: 1rem;
  padding-bottom: 3rem;
}

.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
  justify-content: center;
  align-items: center;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #008ca8;
  background-color: #fff;
  border: 1px solid #dee2e6;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
}

.card-content {
  margin: 1.5rem;
}

.card-body {
  padding: 1.25rem;

  @include breakpoint-standard(2) {
    padding: 0;
  }

  @include breakpoint-standard(1) {
    padding: 0;
  }

  @include breakpoint-standard(0) {
    padding: 0;
  }
}

.blog-detail-thumbnail {
  height: 300px;
}

.text-muted {
  color: #6c757d;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 600;
}

.titleText {
  font-size: 1.8em;
  margin-bottom: 2rem;
}

.subtitle {
  font-size: 1.1em;
}

.media {
  display: flex;
  -webkit-box-align: start;
  align-items: flex-start;
}

.rounded-circle {
  border-radius: 50%;
  margin: 2px;
}

.media-body {
  font-size: 0.85em;
  font-weight: 500;
}

.media-heading {
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 0.75rem;
  > a {
    text-decoration: none;
    color: #c96318;
  }
}

.author-universityname > a {
  font-size: 1.2em;
  font-weight: 500;
  color: #c96318;
  text-decoration: none;
}

.badge-secondary {
  color: #fff;
  background-color: #6c757d;
}

.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}

.social {
  margin: 5px;
}

.icon-share {
  color: #c96318;
  margin-right: 4px;
  font-size: 2.4em;

  &:hover {
    color: #db7333;
  }
}

.card-content-body {
  margin: 1rem;

  p {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  a {
    color: #c96318;
    font-weight: 400;
    text-decoration: none;
  }
}

.select-languages {
  text-align: right;
}

.search-autocomplete-blog {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.autocomplete-blog-search {
  width: 300px;

  > label {
    color: #fff !important;
  }

  @include breakpoint-standard(5) {
    width: 100%;
  }

  @include breakpoint-standard(4) {
    width: 100%;
  }

  @include breakpoint-standard(3) {
    width: 100%;
  }

  @include breakpoint-standard(2) {
    width: 100%;
  }

  @include breakpoint-standard(1) {
    width: 100%;
  }

  @include breakpoint-standard(0) {
    width: 100%;
  }
}

.input-blog-autosearch {
  border-radius: 5px;
  height: 38px;
}

.tags-name-blog {
  display: flex;

  .tags-name-list {
    margin-top: 1rem;
    margin-right: 4px;
  }
}

.loading-logo {
  display: flex;
  justify-content: center;
  animation: center;
  margin: auto;
  height: 75vh;

  > img {
    width: 15%;

    @include breakpoint-standard(5) {
      width: 10%;
    }

    @include breakpoint-standard(4) {
      width: 10%;
    }

    @include breakpoint-standard(3) {
      width: 10%;
    }
  }
}

.dropdown-item {
  display: block;
  width: 100%;
  border: 0;

  > a {
    text-decoration: none;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
  }
}

.col-lg-4 {
  text-align: center;
  width: 35%;

  @include breakpoint-standard(5) {
    max-width: 35%;
  }

  @include breakpoint-standard(4) {
    width: 100%;
  }

  @include breakpoint-standard(3) {
    width: 100%;
  }

  @include breakpoint-standard(2) {
    width: 100%;
  }

  @include breakpoint-standard(1) {
    width: 100%;
  }

  @include breakpoint-standard(0) {
    width: 100%;
  }
}

.description-author {
  width: 15%;
  text-align: center;
  margin-top: 1.2rem;
  @include breakpoint-standard(7) {
    width: 20%;
  }

  @include breakpoint-standard(6) {
    width: 20%;
  }

  @include breakpoint-standard(5) {
    width: 30%;
  }

  @include breakpoint-standard(4) {
    width: 100%;
  }

  @include breakpoint-standard(3) {
    width: 100%;
  }

  @include breakpoint-standard(2) {
    width: 100%;
  }

  @include breakpoint-standard(1) {
    width: 100%;
  }

  @include breakpoint-standard(0) {
    width: 100%;
  }
}
