@mixin breakpoint-standard($size) {
  @if $size==0 {
    @media only screen and (max-width: 374px) {
      @content;
    }
  }

  @else if $size==1 {
    @media only screen and (min-width: 375px) and (max-width: 425px) {
      @content;
    }
  }

  @else if $size==1.1 {
    @media only screen and (min-width: 425px) and (max-width: 479px) {
      @content;
    }
  }

  @else if $size==2 {
    @media only screen and (min-width: 480px) and (max-width: 575px) {
      @content;
    }
  }

  @else if $size==3 {
    @media only screen and (min-width: 576px) and (max-width: 767px) {
      @content;
    }
  }

  @else if $size==4 {
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      @content;
    }
  }

  @else if $size==5 {
    @media only screen and (min-width: 992px) and (max-width: 1024px) {
      @content;
    }
  }

  @else if $size==6 {
    @media only screen and (min-width: 1025px) and (max-width: 1366px) {
      @content;
    }
  }

  @else if $size==7 {
    @media only screen and (max-width: 1440px) {
      @content;
    }
  }
}

.container-card-body {
  padding: 0.50rem 0;

  .grid-container-card-body {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-gap: 10px;
  }

  .grid-item-card {
    padding: 5px 20px;
    text-align: left;
    font-size: 14px;

    @include breakpoint-standard(5) {
      padding: 5px;

    }

    @include breakpoint-standard(4) {
      padding: 5px;
      font-size: 12px;
    }

    @include breakpoint-standard(3) {
      padding: 5px;
      font-size: 12px;
    }

    @include breakpoint-standard(2) {
      padding: 5px;
      font-size: 12px;
    }

    @include breakpoint-standard(1.1) {
      padding: 5px;
      font-size: 12px;
    }

    @include breakpoint-standard(1) {
      padding: 5px;
      font-size: 12px;
    }

    @include breakpoint-standard(0) {
      padding: 5px;
      font-size: 12px;
    }
  }
}

.body-text {
  padding: 15px 0;
  font-size: 14px;

  & a {
    color: #008ca8;
  }

  @include breakpoint-standard(5) {
    padding: 4px 0;
    font-size: 14px;
  }

  @include breakpoint-standard(4) {
    padding: 4px 0;
    font-size: 14px;
  }

  @include breakpoint-standard(3) {
    padding: 4px 0;
    font-size: 12px;
  }

  @include breakpoint-standard(2) {
    padding: 4px 0;
    font-size: 10px;
  }

  @include breakpoint-standard(1.1) {
    padding: 4px 0;
    font-size: 10px;
  }

  @include breakpoint-standard(1) {
    padding: 4px 0;
    font-size: 10px;
  }

  @include breakpoint-standard(0) {
    padding: 4px 0;
    font-size: 10px;
  }
}

.grid-itenewCardDatam-card {
  padding: 5px 20px;
  font-size: 14px;
  word-wrap: break-word;

  @include breakpoint-standard(3) {
    font-size: 12px;
  }

  @include breakpoint-standard(2) {
    font-size: 10px;
  }

  @include breakpoint-standard(1.1) {
    font-size: 10px;
  }

  @include breakpoint-standard(1) {
    font-size: 10px;
  }

  @include breakpoint-standard(0) {
    font-size: 10px;
  }
}

.card-modal-container {
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: 5%;
}

.tab-container {
  padding: 10px 20px 0 20px;
}

.card-box-modal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: -10;
  z-index: 1;
  background-color: #ffffff;
  padding-top: 10;
}

.ant-tabs-nav {
  // position: fixed !important;
  // width: 100%;
  // z-index: 1;
  background: #fff;
}