.paper-draggable-dialog {
    max-width: min(500px, 90vw);
    min-width: min(300px, 90vw);
  
    @media (max-width: 768px) {
      max-width: 90vw !important;
      min-width: 90vw !important;
    }
  
    @media (max-width: 480px) {
      max-width: 95vw;
      min-width: 95vw;
    }
  }
  