@mixin breakpoint-standard($size) {
  @if $size==0 {
    @media only screen and (max-width: 374px) {
      @content;
    }
  } @else if $size==1 {
    @media only screen and (min-width: 375px) and (max-width: 425px) {
      @content;
    }
  } @else if $size==1.1 {
    @media only screen and (min-width: 425px) and (max-width: 479px) {
      @content;
    }
  } @else if $size==2 {
    @media only screen and (min-width: 480px) and (max-width: 575px) {
      @content;
    }
  } @else if $size==3 {
    @media only screen and (min-width: 576px) and (max-width: 767px) {
      @content;
    }
  } @else if $size==4 {
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      @content;
    }
  } @else if $size==5 {
    @media only screen and (min-width: 992px) and (max-width: 1024px) {
      @content;
    }
  } @else if $size==6 {
    @media only screen and (min-width: 1025px) and (max-width: 1366px) {
      @content;
    }
  } @else if $size==7 {
    @media only screen and (max-width: 1440px) {
      @content;
    }
  }
}

.nav-header {
  z-index: 1;
  width: 100%;
  color: white;
  background-color: rgb(25, 118, 210);
  font-size: 1.4rem;
  font-weight: bold;

  @include breakpoint-standard(2) {
    padding: 10px;
  }

  @include breakpoint-standard(1.1) {
    padding: 10px 1.5rem;
  }

  @include breakpoint-standard(1) {
    padding: 10px 1.5rem;
  }

  @include breakpoint-standard(0) {
    padding: 10px;
  }
}

.tooltip-pointer:hover {
  cursor: pointer;
}

.fa,
.fas {
  font-weight: 900;
}

.flex-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-subtitle {
  font-weight: 500;
  font-size: 0.85rem;
  color: #fff;
  padding: 0 0 0.5rem 1.5rem;

  @include breakpoint-standard(1) {
    padding: 0.25rem 1.75rem 0 0.25rem;
  }

  @include breakpoint-standard(0) {
    padding: 0.25rem 1.75rem 0 0.25rem;
  }
}

.navbar-subtitle-contribuite {
  font-weight: 500;
  font-size: 0.85rem;
  color: #fff;
  padding: 0 0 0.25rem 1.5rem;

  @include breakpoint-standard(1) {
    padding: 0.25rem 1.75rem 0 0.25rem;
  }

  @include breakpoint-standard(0) {
    padding: 0.25rem 1.75rem 0 0.25rem;
  }
}

.navbar-subitem {
  margin-right: 0.8rem;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.85);

  .navbar-subitem-link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
    font-weight: bold;
    padding: 0 6px;
  }

  .navbar-subitem-link:hover {
    color: #fff;
  }
}

.navbar-subitem > a {
  text-decoration: none;
}

.sr-only-tooltip {
  font-size: 0.85rem;
}

.btn-navbar {
  border: 1px white solid;
  border-radius: 3px;
  color: white;
  padding: 0 0.5rem 0 0.35rem;
  cursor: pointer;
  background-color: transparent;

  @include breakpoint-standard(1) {
    font-size: 9px;
  }

  @include breakpoint-standard(0) {
    font-size: 9px;
  }
}

.btn-navbar > i {
  margin-right: 5px;
}

.ant-tabs-tab {
  font-size: 0.85rem !important;
  color: #fff !important;
  background: rgb(25, 118, 210) !important;
}

.ant-tabs-tab-active {
  color: #363636 !important;
  background: #fff !important;
  color: rgb(25, 118, 210) !important;
}

:where(.css-dev-only-do-not-override-1qhpsh8).ant-tabs-card
  > .ant-tabs-nav
  .ant-tabs-ta {
  margin: 0;
  padding: 8px 16px;
  background: rgb(25, 118, 210);
  border: 1px solid #f0f0f0;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  color: white;
}

.tab-container-estimate {
  padding: 1rem 3rem 0 3rem;

  @include breakpoint-standard(2) {
    padding: 1rem;
    padding-left: 3rem;
  }

  @include breakpoint-standard(1) {
    padding: 1rem;
    padding-left: 3rem;
  }

  @include breakpoint-standard(0) {
    padding: 1rem 0.5rem;
    padding-left: 2rem;
  }

  .tab-estimate {
    @include breakpoint-standard(1) {
      padding-top: 1rem;
    }

    @include breakpoint-standard(0) {
      padding-top: 1rem;
    }
  }
}

.tab-container-estimate,
.tab-container-estimate-viewall {
  transition: all 0.5s, visibility 1s;
}

.tab-container-estimate-viewall {
  padding: 1rem 3rem 0 3rem;
}

.trans-card-header {
  // background: #008ca8;
  background-color: rgb(25, 118, 210);
  cursor: pointer;
  font-size: 0.85rem !important;
  font-weight: 400;

  .ant-collapse-item > .ant-collapse-header {
    color: white;
    padding: 0.25rem 0.5rem;
  }

  .ant-collapse-item > .ant-collapse-content > .ant-collapse-content-box {
    padding: 8px 14px;
  }
}

.ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab {
  border-radius: 5px 5px 0 0;
  border: 1.5px solid rgb(25, 118, 210);
}

.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab {
  padding: 6px 16px;
}

.view-all-container-estimate {
  padding: 6.5rem 3rem 1rem 3rem;
  background-color: #efefef;
}

.panel-list {
  margin-bottom: 0;
  list-style: none;
  font-size: 0.85rem;
  padding: 0.75rem 4.5rem;
  display: flex;
  justify-content: space-between;
  background-color: #f8f9fa;

  a {
    text-decoration: none;
  }
}

.panel-list-view-all {
  margin-bottom: 0;
  list-style: none;
  font-size: 0.85rem;
  padding: 0.5rem 1rem 0.5rem 2.25rem;
  display: flex;
  justify-content: space-between;
  background-color: #f8f9fa;

  a {
    text-decoration: none;
  }
}

.panel-list-view-all-show-filter {
  margin-bottom: 0;
  list-style: none;
  font-size: 0.85rem;
  padding: 0.5rem 1rem 0.5rem 2.25rem;
  display: flex;
  justify-content: space-between;
}
.panel-list-item-wrapper {
  display: grid;
  grid-template-columns: auto auto;
  gap: 8px;
  padding: 4px;
}
.panel-list-item-hide {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 4px;
}

.panel-list-row {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  line-height: 1.5;
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 4px;
}

.panel-list-label {
  margin: 0 4px 0 0;
  white-space: nowrap;
  font-weight: 600;
}

.panel-list-value {
  flex: 1;
  word-break: break-word;
  white-space: normal;
  overflow-wrap: anywhere;
}

.btn-panel {
  color: rgb(25, 118, 210);
  border: 1px solid rgb(25, 118, 210);
  border: rgb(25, 118, 210);
  border-radius: 3px;
  padding: 0 0.5rem 0 0.5rem;
  cursor: pointer;
  white-space: nowrap;
}

.row-selected {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-selected {
  flex-basis: 0;
  -webkit-box-flex: 1;
  flex-grow: 1;
  max-width: 100%;
}

.col-selected-all {
  position: relative;
  left: 1rem;
}

.col-selected-all-view {
  position: relative;
  left: 0.5rem;
}

.text-description {
  color: #999;
  padding-bottom: 12px;
  font-size: 0.85rem;
}

.time-from-to {
  margin-right: 6px;
}

.title-coallpse {
  font-size: 0.85rem;
}

.reset-btn-estimate {
  padding-top: 0px;

  .selected-all-btn {
    color: #fff;
    background-color: rgb(25, 118, 210);
    border: 1.5px solid rgb(25, 118, 210);
    margin-left: 8px;
  }

  .selected-all-btn:hover {
    color: #fff !important;
    background-color: rgb(68, 156, 244) !important;
  }

  .deselec-btn {
    color: rgb(25, 118, 210);
    background-color: white;
    border: 1.5px solid rgb(25, 118, 210);
    margin-left: 8px;
  }

  .deselec-btn:hover {
    background-color: rgb(25, 118, 210) !important;
    border-color: rgb(25, 118, 210) !important;
    opacity: 1;
    color: white !important;
  }
}

.deselec-btn-hide {
  color: rgb(25, 118, 210); // #008ca8;
  background-color: white;
  border: 1.5px solid rgb(25, 118, 210); //#008ca8;
  margin-left: 8px;
  position: relative;
  left: 2.15rem;
}

.sidebar-label {
  color: #212529;
  font-weight: 400;
  font-size: 0.85rem;

  .ant-checkbox .ant-checkbox-inner {
    border-color: #474747 !important;
  }

  > label {
    padding: 0 2px;
    width: 100%;
  }

  > label:hover {
    background-color: #9edee0;
  }
}

.text-query-link {
  padding: 6px 0;
}

.estimate-table-container {
  overflow: hidden;
  height: 100%;
}

.summary-table > div > table > thead {
  background-color: #f8f8f8;
}

.estimate-table {
  overflow-y: auto;
  border-left: 1px solid rgb(194, 194, 194);
  border-right: 1px solid rgb(194, 194, 194);
}

.estimate-table > div > table > thead {
  background-color: #f8f8f8;
}

.estimate-table > div > table > thead > tr {
  height: 28px;
}

/* Hide scrollbar for webkit browsers (Chrome, Safari) */
.estimate-table::-webkit-scrollbar {
  width: 0.5em;
}

.estimate-table::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.05);
}

.time-frame-slider {
  display: flex;
  justify-content: center;
  padding-left: 60px;
}

.timeframe-input input {
  text-align: center;
  border: 0.5px solid rgb(194, 194, 194);
  border-radius: 4px;
  height: 20px;
  font-size: 0.85rem;
}

.regions-checkbox {
  padding: 2px;
  position: relative;
}

.regions-checkbox:hover {
  background-color: #9edee0;
}

.tooltip-box {
  display: none;
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  padding: 5px;
  background-color: #fff;
  border: 1px solid #000000;
  border-radius: 4px;
  z-index: 2;
  width: 100%;
}

.regions-checkbox:hover .tooltip-box {
  display: block;
}

table.dataframe {
  clear: both;
  max-width: none;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #dee2e6;

  tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
    line-height: 24px;
  }
}

#estimates-table th {
  padding: 0 10px 0 5px;
}

table > .dataframe {
  border: 1px solid #dee2e6 !important;
}

.dataframe {
  font-size: 0.8rem;
  border: 1px solid black;
  width: 100%;
  border-collapse: collapse;

  th {
    color: rgb(25, 118, 210);
    border-bottom: 2px solid #dee2e6;
    padding: 0 5px 0 5px;
    text-align: center;
    font-size: 0.8rem;
  }

  td {
    padding: 0 5px 0 5px;
    text-align: right;
    font-size: 0.8rem;
    line-height: 24px;
  }
}

.tab-timeline-title {
  color: #666;
  font-size: 0.8rem;
  font-weight: bold;
}

.panel-list-unshow {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.1s ease;
}

.panel-list-unshow-show {
  max-height: 10000px;
  overflow: hidden;
  transition: max-height 0.1s ease;
}

.tab-title-timeline {
  color: #666;
  font-size: 0.8rem;
  font-weight: bold;
}

.g_main {
  cursor: pointer;
  pointer-events: all;
}

.svg-timeline-text {
  fill: gray;
}

.axis path,
.axis line {
  fill: none;
  stroke: gray;
  stroke-width: 0.35px;
}

.x path {
  stroke: transparent;
}

.vertical_line {
  stroke: darkgreen;
  stroke-width: 1px;
  stroke-dasharray: 1 1;
}

.view-show-row {
  display: flex;
    border-radius: 6px;
    border: 0.75px solid #fff;
    margin-right: 4px;
    padding: 1px 5px;
    margin-top: 2px;
    align-items: center;
}

.value-list {
  padding: 0 0.5rem 0 0.25rem;
  font-size: 0.85rem;
}
