.nav-header {
    z-index: 1;
    width: 100%;
    color: white;
    // background-color: #0c9ab1;
    background-color: rgb(25, 118, 210);
    padding: 0px 3rem;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.nav-header>div {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}

.tooltip-pointer:hover {
    cursor: pointer;
}

.fa,
.fas {
    font-weight: 900;
}

.flex-navbar {
    display: flex;
    align-items: center;
}

.navbar-subtitle {
    font-weight: 500;
    font-size: .85rem;
    color: #fff;
    padding: 0 0.5rem 0.5rem 0.5rem;
}

.navbar-subitem {
    margin-right: 0.8rem;
    text-decoration: none;
}

.navbar-subitem>a {
    text-decoration: none;
}

.sr-only-tooltip {
    font-size: .85rem;
}

.btn-navbar {
    border: 1px white solid;
    border-radius: 3px;
    color: white;
    padding: 0 0.5rem 0 0.35rem;
    cursor: pointer;

}

.btn-navbar>i {
    margin-right: 5px;
}

.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    // color: #0c9ab1;
    color: rgb(25, 118, 210);
    text-shadow: 0 0 0.25px currentcolor;
    font-size: 0.85rem;
}

.ant-tabs-card.ant-tabs-top>.ant-tabs-nav .ant-tabs-tab-active,
:where(.css-dev-only-do-not-override-1qhpsh8).ant-tabs-card.ant-tabs-top>div>.ant-tabs-nav .ant-tabs-tab-active {
    // border: 1.5px solid #0c9ab1;
    // color: #0c9ab1;
    border: 1.5px solid rgb(25, 118, 210);
    color: rgb(25, 118, 210)s;
    background: white;
}

:where(.css-dev-only-do-not-override-1qhpsh8).ant-tabs-card>.ant-tabs-nav .ant-tabs-tab {
    margin: 0;
    padding: 8px 16px;
    // background-color: #0c9ab1;
    background-color: rgb(25, 118, 210);
    border: 1px solid #f0f0f0;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    color: white;
}

.tab-container-estimate {
    padding: 1rem 3rem 0 3rem;
}

.tab-container-estimate,
.tab-container-estimate-viewall {
    transition: all 0.5s, visibility 1s;
}

.tab-container-estimate-viewall {
    padding: 1rem 3rem 0 3rem;

}

.trans-card-header {
    // background: #008ca8;
    background-color: rgb(25, 118, 210);
    cursor: pointer;
    font-size: .85rem !important;
    font-weight: 400;

    .ant-collapse-item>.ant-collapse-header {
        color: white;
        padding: 0.25rem 0.5rem;
    }

    .ant-collapse-item>.ant-collapse-content>.ant-collapse-content-box {
        padding: 8px 14px;
    }


}

.ant-tabs-card.ant-tabs-top>.ant-tabs-nav .ant-tabs-tab {
    border-radius: 5px 5px 0 0;
}

.ant-tabs-card>.ant-tabs-nav .ant-tabs-tab {
    padding: 6px 16px
}

.view-all-container-estimate {
    padding: 6.5rem 3rem 1rem 3rem;
    background-color: #efefef
}

.panel-list {
    margin-bottom: 0;
    list-style: none;
    font-size: .85rem;
    padding: 0.75rem 4.5rem;
    display: flex;
    justify-content: space-between;
    background-color: #f8f9fa;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    a {
        text-decoration: none;
    }
}

.btn-panel {
    // color: #0c9ab1;
    // border: 1px #0c9ab1 solid;
    color: rgb(25, 118, 210);
    border: 1px solid rgb(25, 118, 210);
    border: rgb(25, 118, 210);
    border-radius: 3px;
    padding: 0 0.5rem 0 0.5rem;
    cursor: pointer;
    white-space: nowrap;
}

.row-selected {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-selected {
    flex-basis: 0;
    -webkit-box-flex: 1;
    flex-grow: 1;
    max-width: 100%;
}

.col-selected-all {
    position: relative;
    left: 1rem;
}


.text-description {
    color: #999;
    padding-bottom: 12px;
    font-size: .85rem;
}

.time-from-to {
    margin-right: 6px;
}

.title-coallpse {
    font-size: .85rem;
}

.reset-btn-estimate {
    padding-top: 12px;

    .selected-all-btn {
        color: #fff; // #008ca8;
        background-color: rgb(25, 118, 210);
        border: 1.5px solid rgb(25, 118, 210); //#008ca8;
        margin-left: 8px;
    }

    .selected-all-btn:hover {
        color: #fff !important;
    }

    .deselec-btn {
        color: rgb(25, 118, 210); // #008ca8;
        background-color: white;
        border: 1.5px solid rgb(25, 118, 210); //#008ca8;
        margin-left: 8px;
    }

    .deselec-btn:hover {
        background-color: rgb(25, 118, 210); // #008ca8 !important;
        border-color: rgb(25, 118, 210); // #008ca8 !important;
        opacity: 1;
        color: white !important;
    }

    .deselec-btn-hide {
        color: rgb(25, 118, 210); // #008ca8;
        background-color: white;
        border: 1.5px solid rgb(25, 118, 210); //#008ca8;
        margin-left: 8px;
        position: relative;
        left: 2.15rem;
    }



}

.sidebar-label {
    color: #212529;
    font-weight: 400;
    font-size: .85rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    .ant-checkbox .ant-checkbox-inner {
        border-color: #474747 !important;
    }

    >label {
        padding: 0 2px;
        width: 100%;
    }

    >label:hover {
        background-color: #9EDEE0;
    }
}

.text-query-link {
    padding: 6px 0;
}

.estimate-table-container {
    overflow: hidden;
    height: 100%;
}

.estimate-table {
    overflow-y: auto;
    border-left: 1px solid rgb(194, 194, 194);
    border-right: 1px solid rgb(194, 194, 194);
}

/* Hide scrollbar for webkit browsers (Chrome, Safari) */
.estimate-table::-webkit-scrollbar {
    width: 0.5em;
}

.estimate-table::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .05);
}

.time-frame-slider {
    display: flex;
    justify-content: center;
    padding-left: 60px;
}

.timeframe-input input {
    text-align: center;
    border: 0.5px solid rgb(194, 194, 194);
    border-radius: 4px;
    height: 20px;
    font-size: 0.85rem;
}



.regions-checkbox {
    padding: 2px;
    position: relative;


}

.regions-checkbox:hover {
    background-color: #9EDEE0;
}


.tooltip-box {
    display: none;
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    padding: 5px;
    background-color: #fff;
    border: 1px solid #000000;
    border-radius: 4px;
    z-index: 2;
    width: 100%;
}

.regions-checkbox:hover .tooltip-box {
    display: block;
}

table.dataframe {
    clear: both;
    max-width: none;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #dee2e6;

    tbody tr:nth-of-type(odd) {
        background-color: rgba(0, 0, 0, .05);
        line-height: 16px;
    }
}

#estimates-table th {
    padding: 0 10px 0 5px;
}

.dataframe {
    font-size: .8rem;
    border: 1px solid black;
    width: 100%;
    border-collapse: collapse;

    th {
        color: #008ca8;
        border-bottom: 2px solid #dee2e6;
        padding: 0 5px 0 5px;
    }

    td {
        padding: 0 5px 0 5px;
    }
}

.tab-timeline-title {
    color: #666;
    font-size: .8rem;
    font-weight: bold;
}

.panel-list-unshow {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.panel-list-unshow-show {
    max-height: 10000px;
    overflow: hidden;
    transition: max-height 0.5s ease;
}