
.mirador-window-close {
        color: #444545 !important;
        svg{
        border-radius: 50% !important;
        background: #cbc9c9 !important;
        width: 26px !important;
        height: 26px !important;
        }
}