.header-nav-bar{
    height: 150px;
}
.list-menu{
    font-size: 20px;
}
.voyages-header{
    font-family:  "Cormorant Garamond";
    display: flex;
    align-items: center;
    cursor: pointer;
}

.voyages-header-subtitle{
    display: flex;
    font-size: 30px;
    padding-left: 5px;
    position: relative;
    font-weight: 600;
    top: 8px;

}
.voyages-title{
    padding: 0 5px;
}

.menu-nav-bar{
    font-family:  "Cormorant Garamond";
    color: black;
}
.menu-nav-bar-select{
    font-family:  "Cormorant Garamond";
    color: black;
    text-transform: uppercase;
}
