.colored-box {
  position: relative;
  width: 180px;
  font-size: 0.9rem;
  background-color: #fff;
  padding: 10px;
  border-radius: 4px;
  color: #000;
  z-index: 2;
  bottom: 10%;
  .div-box {
    display: flex;
  }
  .circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
  .voyages {
    background-color: #F2EE0A;
  }
  .enslaved {
  background-color: #906866;
  }
  .enslavers {
    background-color: #46a88c;
  }
  .connection {
    background-color: #ab47bc;
  }
  p {
    padding-left: 0.5rem;
  }
}
