.form_help_text {
  color: gray;
  margin-bottom: 12px;
}

.form-contribute {
  margin-bottom: 14px;
}

.form-contribute-label {
  color: #212529;
  font-weight: 600;
  font-size: 0.85rem;
  margin-top: 5px;
}

.collapse-container {
  padding: 1rem 0 1rem 0;
}

.collapse-title {
  color: rgb(55, 148, 141) !important;
  font-size: 1rem !important;
  font-weight: 700 !important;
}

.custom-collapse {
  margin-top: 12px;
  .ant-collapse-item {
    .ant-collapse-header {
      padding: 0;
      color: rgb(55, 148, 141);
      font-size: 1.25rem !important;
      font-weight: 700 !important;
    }
    .ant-collapse-content {
      .ant-collapse-content-box {
        border: 1px solid #d5d0d0;
        border-radius: 3px;
        margin-bottom: 10px;
      }
    }
  }
}
