@mixin breakpoint-standard($size) {
  @if $size==0 {
    @media only screen and (max-width: 374px) {
      @content;
    }
  }

  @else if $size==1 {
    @media only screen and (min-width: 375px) and (max-width: 425px) {
      @content;
    }
  }

  @else if $size==1.1 {
    @media only screen and (min-width: 425px) and (max-width: 479px) {
      @content;
    }
  }

  @else if $size==2 {
    @media only screen and (min-width: 480px) and (max-width: 575px) {
      @content;
    }
  }

  @else if $size==3 {
    @media only screen and (min-width: 576px) and (max-width: 767px) {
      @content;
    }
  }

  @else if $size==4 {
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      @content;
    }
  }

  @else if $size==5 {
    @media only screen and (min-width: 992px) and (max-width: 1024px) {
      @content;
    }
  }

  @else if $size==6 {
    @media only screen and (min-width: 1025px) and (max-width: 1366px) {
      @content;
    }
  }

  @else if $size==7 {
    @media only screen and (max-width: 1440px) {
      @content;
    }
  }
}

#main-page-past-home {
  height: 100vh;
  background-repeat: no-repeat;
  background: linear-gradient(rgba(127, 118, 191, 0.85),
      rgba(127, 118, 191, 0.8)),
    url('../assets/intra-american.jpeg') center / cover;
}

.grid-people-image>img {
  width: 100%;
  padding-top: 3rem;

  @include breakpoint-standard(5) {
    padding-top: 6rem;
  }

  @include breakpoint-standard(4) {
    padding-top: 7rem;
  }

  @include breakpoint-standard(3) {
    width: 75%;
    padding-top: 3rem;
  }

  @include breakpoint-standard(2) {
    width: 55%;
    padding-top: 5rem;
  }

  @include breakpoint-standard(1) {
    width: 55%;
    padding-top: 8rem;
  }

  @include breakpoint-standard(0) {
    width: 55%;
    padding-top: 8rem;
  }
}

.flipped-image {
  transform: scaleX(-1);
}

.grid-people-introduction>div {
  position: relative;
  top: 10%;
  padding: 2rem 6rem 0 4rem;
  color: #ffffff;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  font-family: Roboto, Helvetica, Arial, sans-serif;

  @include breakpoint-standard(5) {
    top: 3%;
    padding: 2rem;
    font-size: 18px;
  }

  @include breakpoint-standard(4) {
    top: 3%;
    padding: 2rem;
    font-size: 18px;
  }

  @include breakpoint-standard(3) {
    top: 0;
    padding: 10px;
    font-size: 14px;
  }

  @include breakpoint-standard(2) {
    top: 0;
    padding: 10px;
    font-size: 14px;
  }

  @include breakpoint-standard(1) {
    top: 0;
    padding: 10px;
    font-size: 14px;
  }

  @include breakpoint-standard(0) {
    top: 0;
    padding: 10px;
    font-size: 14px;
  }
}

.btn-Enslaved-enslavers {
  display: flex;
  justify-content: center;
  align-items: center;
}

.enslaved-btn {
  background-color: #ffffff;
  color: black;
  margin-right: 15px;
  padding: 0 10px;
  font-size: 16px;
  line-height: 28px;
  width: 100px;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 2px 3px 2px #c7c5c5;

  &:hover {
    background-color: rgb(219 214 251);
  }

  @include breakpoint-standard(3) {
    font-size: 14px;
    width: 80px;
  }

  @include breakpoint-standard(2) {
    font-size: 14px;
    width: 80px;
  }

  @include breakpoint-standard(1) {
    font-size: 14px;
    width: 80px;
  }

  @include breakpoint-standard(0) {
    font-size: 14px;
    width: 80px;
  }
}

.enslavers-btn {
  background-color: #ffffff;
  color: black;
  margin-left: 15px;
  border-radius: 12px;
  border-radius: 12px;
  font-size: 16px;
  line-height: 28px;
  width: 100px;
  cursor: pointer;
  box-shadow: 2px 3px 2px #c7c5c5;

  &:hover {
    background-color: rgb(219 214 251);
  }

  @include breakpoint-standard(3) {
    font-size: 14px;
    width: 80px;
  }

  @include breakpoint-standard(2) {
    font-size: 14px;
    width: 80px;
  }

  @include breakpoint-standard(1) {
    font-size: 14px;
    width: 80px;
  }

  @include breakpoint-standard(0) {
    font-size: 14px;
    width: 80px;
  }
}

.people-header {
  font-family: 'Cormorant Garamond';
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 60px;
  color: black;

  @include breakpoint-standard(6) {
    font-size: 50px;
  }

  @include breakpoint-standard(5) {
    font-size: 42px;
  }

  @include breakpoint-standard(4) {
    font-size: 36px;
  }

  @include breakpoint-standard(3) {
    font-size: 30px;
  }

  @include breakpoint-standard(2) {
    font-size: 28px;
  }

  @include breakpoint-standard(1) {
    font-size: 22px;
  }

  @include breakpoint-standard(0) {
    font-size: 22px;
  }
}

// Enslaved
#enslaved-home-page {
  padding: 0;
  margin: 0;
  background-color: #b29493;
  height: 100vh;
}

#main-enslaved-home {
  height: 100vh;
  background-repeat: no-repeat;
  background: linear-gradient(rgb(144, 104, 102, 0.85), rgb(144, 104, 102, 0.8)),
    url('../assets/enslavedBG.jpeg') center / cover;
}

#main-enslavers-home {
  // height: 100vh;
  background-repeat: no-repeat;
  background: linear-gradient(rgb(63, 150, 125, 0.85), rgb(63, 150, 125, 0.8)),
    url('../assets/enslaverBG.gif') center / cover;

  @include breakpoint-standard(7) {
    height: auto;
  }

  @include breakpoint-standard(6) {
    height: auto;
  }

  @include breakpoint-standard(5) {
    height: auto;
  }

  @include breakpoint-standard(4) {
    height: auto;
  }

  @include breakpoint-standard(3) {
    height: auto;
  }

  @include breakpoint-standard(2) {
    height: auto;
  }

  @include breakpoint-standard(1) {
    height: auto;
  }
}

.enslaved-header {
  font-family: 'Cormorant Garamond';
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 60px;

  @include breakpoint-standard(6) {
    font-size: 40px;
  }

  @include breakpoint-standard(5) {
    font-size: 26px;
  }

  @include breakpoint-standard(4) {
    font-size: 26px;
  }

  @include breakpoint-standard(3) {
    font-size: 18px;
  }

  @include breakpoint-standard(2) {
    font-size: 16px;
    font-weight: 600;
  }

  @include breakpoint-standard(1) {
    font-size: 12px;
    font-weight: 600;
  }

  @include breakpoint-standard(0) {
    font-size: 12px;
    font-weight: 600;
  }
}

.enslaved-header-subtitle {
  display: flex;
  font-size: 30px;
  padding-left: 5px;
  position: relative;
  font-weight: 600;
  top: 8px;

  @include breakpoint-standard(5) {
    font-size: 26px;
    top: 6px;
  }

  @include breakpoint-standard(5) {
    font-size: 18px;
    top: 2px;
  }

  @include breakpoint-standard(4) {
    font-size: 18px;
    top: 2px;
  }

  @include breakpoint-standard(3) {
    font-size: 18px;
    top: 2px;
  }

  @include breakpoint-standard(2) {
    font-size: 14px;
    top: 2px;
  }

  @include breakpoint-standard(1) {
    font-size: 10px;
    top: 2px;
  }

  @include breakpoint-standard(0) {
    font-size: 10px;
    top: 2px;
  }
}

.grid-enslaved-introduction {
  position: relative;
  top: 20%;
  padding: 8rem 8rem 8rem 5rem;
  width: 90%;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 24px;

  >.grid-enslavers-introduction {
    @include breakpoint-standard(7) {
      padding: 2rem 2rem 2rem 1rem;
    }

    @include breakpoint-standard(6) {
      padding: 2rem 2rem 2rem 1rem;
    }

    @include breakpoint-standard(5) {
      padding: 1rem;
    }

    @include breakpoint-standard(4) {
      padding: 1rem;
    }

    @include breakpoint-standard(3) {
      padding: 1rem;
    }

    @include breakpoint-standard(2) {
      padding: 1rem;
    }

    @include breakpoint-standard(1) {
      padding: 1rem;
    }
  }

  @include breakpoint-standard(4) {
    padding: 5rem;
    width: 100%;
  }

  @include breakpoint-standard(3) {
    padding: 1.5rem;
    width: 100%;
    position: fixed;
    top: 15%;
  }

  @include breakpoint-standard(2) {
    padding: 1.5rem;
    width: 100%;
    position: fixed;
    top: 15%;
  }

  @include breakpoint-standard(1) {
    padding: 1.5rem;
    width: 100%;
    position: fixed;
    top: 15%;
  }




}

.intro-box {
  color: #ffffff;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  padding: 5rem;
  background: rgb(178, 148, 147, 0.5);

  @include breakpoint-standard(5) {
    padding: 1rem;
    font-size: 20px;
  }

  @include breakpoint-standard(4) {
    padding: 1rem;
    font-size: 16px;
  }

  @include breakpoint-standard(3) {
    padding: 1rem;
    font-size: 14px;
  }

  @include breakpoint-standard(2) {
    padding: 1rem;
    font-size: 14px;
  }

  @include breakpoint-standard(1.1) {
    padding: 1rem;
    font-size: 14px;
  }

  @include breakpoint-standard(1) {
    padding: 1rem;
    font-size: 14px;
  }
}

.intro-box-enslavers {
  color: #ffffff;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  padding: 4rem 1rem 2rem 4rem;
  background: rgb(63, 150, 125, 0.5);

  @include breakpoint-standard(5) {
    padding: 4rem 2rem;
    font-size: 20px;
  }

  @include breakpoint-standard(4) {
    padding: 4rem 2rem;
    font-size: 16px;
  }

  @include breakpoint-standard(3) {
    padding: 1rem;
    font-size: 14px;
  }

  @include breakpoint-standard(2) {
    padding: 4rem 2rem;
    font-size: 14px;
  }

  @include breakpoint-standard(1.1) {
    padding: 4rem 2rem;
    font-size: 14px;
  }

  @include breakpoint-standard(1) {
    padding: 4rem 2rem;
    font-size: 14px;
  }
}

.grid-enslavers-introduction {
  position: relative;
  padding: 4rem 5.5rem;

  @include breakpoint-standard(7) {
    padding: 2rem 5.5rem 2rem 2rem;
  }

  @include breakpoint-standard(6) {
    padding: 2rem 5.5rem 2rem 2rem;

  }

  @include breakpoint-standard(5) {
    padding: 2rem 5.5rem 2rem 2rem;

  }

  @include breakpoint-standard(4) {
    padding: 1rem;

  }

  @include breakpoint-standard(3) {
    padding: 1rem;

  }

  @include breakpoint-standard(2) {
    padding: 1rem;

  }

  @include breakpoint-standard(1) {
    padding: 1rem;
  }


}

.african-btn {
  background-color: #ffffff;
  color: black;
  margin-right: 15px;
  padding: 0 10px;
  font-size: 16px;
  line-height: 28px;
  width: 150px;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 2px 3px 2px #8f7271;

  &:hover {
    background-color: #9c8180;
  }
}

.oceans-btn {
  background-color: #ffffff;
  color: black;
  margin-left: 15px;
  border-radius: 12px;
  border-radius: 12px;
  font-size: 16px;
  line-height: 28px;
  width: 150px;
  cursor: pointer;
  box-shadow: 2px 3px 2px #8f7271;

  &:hover {
    background-color: #9c8180;
  }
}

.btn-enslave-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3%;
  text-align: center;

  .enslave-nav-btn {
    background-color: #ffffff;
    color: black;
    margin: 2px 8px;
    padding: 0 10px;
    font-size: 16px;
    line-height: 28px;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 2px 3px 2px #e6e6e6;

    &:hover {
      background-color: #fae9e9;
    }

    @include breakpoint-standard(4) {
      font-size: 14px;
      line-height: 24px;
    }

    @include breakpoint-standard(3) {
      font-size: 14px;
      line-height: 20px;
    }

    @include breakpoint-standard(2) {
      font-size: 12px;
      line-height: 12px;
    }

    @include breakpoint-standard(1.1) {
      font-size: 10px;
      line-height: 12px;
    }

    @include breakpoint-standard(1) {
      font-size: 10px;
      line-height: 12px;
    }
  }
}

.table-presentation {
  @include breakpoint-standard(4) {
    top: 20px !important;
  }

  @include breakpoint-standard(3) {
    top: 15px !important;
  }

  @include breakpoint-standard(2) {
    top: 5px !important;
  }

  @include breakpoint-standard(1.1) {
    top: 20px !important;
  }

  @include breakpoint-standard(1) {
    top: 25px !important;
  }

  @include breakpoint-standard(0) {
    top: 25px !important;
  }
}

// Enslavers
#enslavers-home-page {
  padding: 0;
  margin: 0;
  background-color: #46a88c;
  height: 110vh;
}