.filter-text-box{
    label {
        font-size: 0.85rem;
        color: rgba(0, 0, 0, 0.6) !important;
      }    
}
.filter-select-box{
  label {
      font-size: 0.85rem;
      color: rgba(0, 0, 0, 0.6) !important;
  }
}