@mixin breakpoint-standard($size) {
  @if $size==0 {
      @media only screen and (max-width: 374px) {
          @content;
      }
  }

  @else if $size==1 {
      @media only screen and (min-width: 375px) and (max-width: 479px) {
          @content;
      }
  }

  @else if $size==2 {
      @media only screen and (min-width: 480px) and (max-width: 575px) {
          @content;
      }
  }

  @else if $size==3 {
      @media only screen and (min-width: 576px) and (max-width: 767px) {
          @content;
      }
  }

  @else if $size==4 {
      @media only screen and (min-width: 768px) and (max-width: 991px) {
          @content;
      }
  }

  @else if $size==5 {
      @media only screen and (min-width: 992px) and (max-width: 1024px) {
          @content;
      }
  }

  @else if $size==6 {
      @media only screen and (min-width: 1025px) and (max-width: 1366px) {
          @content;
      }
  }

  @else if $size==7 {
      @media only screen and (max-width: 1440px) {
          @content;
      }
  }
}

.grid-container{
  width: 100%;
  height: 100%;
}

.tableContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  @include breakpoint-standard(5) {
    margin-top: 95px;
  }
}
.customHeaderMenuButton {
  float: left;
  margin: 0 0 0 3px;
}

.customHeaderLabel {
  float: left;
  margin: 0 0 0 3px;
}

div .customHeaderLabel{
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
  width: 85%;
  color: #008ca8;
}

.customSortDownLabel {
  float: left;
  margin: 0 0 0 3px;
  padding: 0 2px;
  cursor: pointer;
  font-size: 11px;
  color: #979595;
}

.customSortUpLabel {
  float: left;
  margin: 0;
  cursor: pointer;
  font-size: 11px;
  color: #979595;
}

.customSortRemoveLabel {
  float: left;
  margin: 0 0 0 3px;
  font-size: 11px;
}

.active {
  color: cornflowerblue;
}

.pagination-div{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 0;
}

.ag-theme-alpine .ag-row-hover {
  background-color: #85d4cb; /* Define the desired hover background color */
  /* Add any other styles for the hover effect */
}
.pagination-div > nav > ul > li >  button{
  font-size: 0.875rem;
  font-family: sans-serif;
}
.Skeleton-loading{
  position: relative;
  top: 5rem;
}

.div-value {
  width: 160px;
  .value {
    white-space: pre-line;
    overflow-wrap: break-word;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
  }
}

.configureColumnsButton{
  font-size: 12 !important;
  background-color: "#17a2b8" !important;
  color: "#ffffff" !important;
}
.network-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  img {
    width: 12%;
    cursor: pointer;
  }
}