.g_main {
    cursor: pointer;
    pointer-events: all;
}

svg {
    font-family: "Helvetica Neue", Helvetica;
}

.svg-timeline-text {
    fill: gray;
}

.axis path,
.axis line {
    fill: none;
    stroke: gray;
    stroke-width: 0.35px;
}

.x path {
    stroke: transparent;
}

.vertical_line {
    stroke: darkgreen;
    stroke-width: 1px;
    stroke-dasharray: 1 1;
}